@font-face {
  font-family: Emoji;
  src: local("Apple Color Emoji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji");
  unicode-range: U+1F000-1F644, U+203C-3299;
}

:root {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Emoji, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

html.dark {
  color-scheme: light dark;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
